
html, body {
  height: 100%;
}

 .app{
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    font-family: var(--bs-body-font-family);
    height: 695px; 
    transition: all 0.5s;
} 


.sidebar-end-enabled .sidebar {
  /* Your styles for the sidebar when enabled */
  display: block;
}


.sidebar {
  /* Default styles for the sidebar */
  display: none;
}

.sidebar-start-enabled .sidebar-start {
  /* Your styles for the sidebar when enabled */
  display: block;
}

.sidebar-start {
  /* Default styles for the sidebar */
  display: none;
}